
header {
  background-color: $mywhite;
  .site-branding {
      padding: 20px 0 10px 30px;
    img {
      max-width: 300px;
    }
  }
}

#site-navigation {
  #primary-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
}

#content {
  display: flex;
  max-width: 1250px;
  margin: 0 auto;
  justify-content: center;
}

#primary {
  flex: 1 1 700px;
  max-width: 1000px;
  & > div {
    background-color: $mywhite;
    padding: 25px 50px;
    margin: 20px;
    border: 0.5px solid $color1;
  }
  h1 {
    margin: 0;
    display: block;
    padding: 0 0 10px 0;
    border-bottom: 4.0px solid $color1;
  }

}

#secondary {
  flex: 1 1 225px;
  & > div {
    background-color: $mywhite;
    padding: 20px;
    margin: 20px;
    border: 0.5px solid $color1;
  }
  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0 0 20px 0;
  }
}
