$maxWidthPrimary: 635px;

header {
  background-color: $mywhite;
  .header-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    margin: 0 auto;
    .site-branding {
      padding: 20px 0 10px 30px;
      img {
        max-width: 225px;
      }
    }
    #search-box {
      margin: 0 20px 0 0;
    }
  }
}

#site-navigation {
  #primary-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  a {
    text-decoration: none;
    width: 100%;
  }
}

#content {
  display: flex;
  max-width: 1250px;
  margin: 0 auto;
  justify-content: center;
}

#primary {
  flex: 1 1 700px;
  max-width: 1000px;
  & > div, .temp-span > div {
    background-color: $mywhite;
    padding: 25px 50px;
    margin: 30px 20px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    p {
      font-size: 20px;
    }
    ul, ol {
      max-width: $maxWidthPrimary;
      width: 100%;
      margin: 10px 0;
      font-size: 18px;
      li {
        margin: 2px 0;
      }
      strong {
        font-family: gillSemiBold;
        font-weight: 400;
      }
    }
    ol {
      li {
        padding-left: 10px;
      }
    }
    ul.extra-space, ol.extra-space {
      li {
        margin: 10px 0;
      }
    }
  }
  .no-bg {
    background: none;
    box-shadow: none;
  }
  h1 {
    margin: 10px 0;
    display: block;
    padding: 0 0 5px 0;
    border-bottom: 1px solid $color1;
    width: 100%;
  }
  p {
    max-width: $maxWidthPrimary;
    width: 100%;
    a {
      @include custom-underline($color2);
    }
    a:hover {
      border-color: $mywhite;
    }
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    max-width: $maxWidthPrimary;
    width: 100%;
    margin: 25px 0 5px 0;
  }
  .entry-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    p {
      font-size: 20px;
    }
    ul {
      width: 100%;
      max-width: $maxWidthPrimary;
      margin: 0;
      padding: 0 0 0 20px;
    }
  }
  #breadcrumbs {
    align-self: flex-start;
    font-family: akzRoman;
    margin: 0 0 0 35px;
    color: $softgrey;
    a {
      text-decoration: none;
      color: $softgrey;
    }
    a:hover {
      text-decoration: underline;
    }
    i {
      margin: 0 15px;
      font-size: 10px;
    }
  }
}

#secondary,
.sec-blank-holder {
  flex: 1 1 225px;
  & > div,
  .resources-links {
    background-color: $mywhite;
    padding: 20px;
    margin: 30px 20px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
  }
  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0 0 20px 0;
  }
  .lone-edit-button {
    background-color: transparent;
    margin: 0 20px 30px 20px;
    box-shadow: none;
    padding-top: 0;
  }
}

p {
  strong {
    font-family: gillSemiBold;
    font-weight: 400;
  }
}

.moving-line {
  position: relative;
  z-index: 3;
}
.moving-line:after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 0;
  height: 2px;
  display: block;
  margin-top: -5px;
  right: 0;
  background: $softgrey;
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}
.moving-line:hover:after {
  left: 0;
  right: auto;
  width: 100%;
  background: $softgrey;
}

#app-area {
  margin: 0 auto;
  width: 100%;
}

.spinning {
  color: $color1;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
