.docs-links {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            padding: 10px 15px;
            margin: 0;
            font-family: akzRoman;
            border-bottom: 0.5px solid #f4f4f4;
            a {
                text-decoration: none;
            }
            a:hover {
                color: $color3;
            }
        }
        li.active {
            font-family: akzSemibold;
            color: $color1;
            border-left: 5.0px solid $color1;
        }
    }
    ul > li:first-child {
        border-top: 0.5px solid #f4f4f4;
      }
}
#docs-nav {
    width: 100%;
    .post-navigation {
        margin-top: 20px;
        border-top: 1.0px solid #eaeaea;
        padding-top: 20px;
    }
}