.docs-links {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            padding: 10px 15px;
            margin: 0;
            font-family: akzRoman;
            border-bottom: 0.5px solid #f4f4f4;
            a {
                text-decoration: none;
            }
            a:hover {
                color: $color3;
            }
        }
    }
    ul > li:first-child {
        border-top: 0.5px solid #f4f4f4;
      }
}