#primary {
  .entry-header {
    margin-bottom: 20px;
    .entry-title {
      font-size: 32px;
      a {
        text-decoration: none;
      }
    }
    .entry-meta {
      margin-top: 10px;
      color: $softgrey;
      font-size: 15px;
      a {
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
        text-decoration-color: $mywhite;
      }
      .category {
        background-color: green;
        color: $mywhite;
        font-family: akzSemibold;
        text-transform: uppercase;
        padding: 4px 10px;
        font-size: 10px;
        border-radius: 10px;
        margin-left: 5px;
        i {
          margin-right: 7px;
        }
      }
    }
  }
}

#news {
  .old-entries-container {
    width: 100%;
    max-width: $maxWidthPrimary;
    margin: 20px 0 10px 0;
    h2 {
      border-bottom: 1px solid $color1;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 16px;
    }
  }
  .old-entries {
    color: $softgrey;
    font-size: 12px;
    margin: 8px 25px;
    a {
      text-decoration: none;
    }
    .headline {
      font-size: 17px;
      font-family: akzSemibold;
      color: $color1;
      display: inline;
      margin-right: 10px;
      a {
        @include custom-underline($color2);
      }
      a:hover {
        color: $color2;
        border-color: $mywhite;
      }
    }
    .date {
      margin-right: 10px;
    }
  }
}

#master-new-staff-container {
  width: 100%;
  text-align: center;
}

#new-staff-container {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  #new-staff-portraits {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    transition: height 0.25s;
    .new-hires-slide {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      width: 100%;
      position: absolute;
      left: 100%;
      transition: left 0.5s;
      a {
        text-decoration: none;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
      }
      h1 {
        flex: 1 0 100%;
        margin-bottom: 20px;
      }
      .staff-container {
        margin: 20px 0;
        display: flex;
        flex-flow: row wrap;
        flex: 1 1 300px;
        justify-content: center;
        align-content: flex-start;
        max-width: 300px;
        .portrait {
          background-size: cover;
          background-position: 50% 80%;
          border-radius: 100%;
          height: 200px;
          width: 200px;
          text-align: center;
        }
        h2 {
          margin-bottom: 0;
          text-align: center;
        }
        .meta-new-hires {
          font-family: akzLight;
          margin: 0 0 20px 0;
          font-size: 15px;
          text-align: center;
          width: 100%;
          color: $softgrey;
          height: auto;
        }
        .fun-facts {
          width: 100%;
          ul {
            margin: 0;
            padding: 0;
            text-align: left;
          }
        }
      }
    }
    .new-hires-slide.on-left {
      left: -100%;
    }
    .new-hires-slide.active {
      left: 0;
    }
  }
  #new-staff-buttons {
    margin: 20px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .prev-and-next {
      font-family: akzSemibold;
      color: $color1;
      border: 1px solid $color1;
      padding: 10px 20px;
      background-color: $mywhite;
      cursor: pointer;
      transition: 0.2s color, 0.2s border-color;
      &:hover {
        color: $color3;
        border-color: $color3;
      }
    }
    div {
      flex: 33%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .fa-long-arrow-left {
      margin-right: 5px;
    }
    .fa-long-arrow-right {
      margin-left: 5px;
    }
    #new-staff-dots-nav {
      font-size: 18px;
      color: $color1;
      i {
        margin: 0 5px;
      }
      .fa-circle-thin {
        cursor: pointer;
      }
    }
  }
  .new-staff-admin-container {
    display: flex;
    justify-content: center;
    border-top: 1px solid #dadada;
    padding: 20px 0;
    margin: 20px 0 0 0;
    a {
      padding: 10px 20px;
      margin: 0 10px;
      border: 1px solid $color1;
      font-family: akzMed;
      margin-top: 20px;
      transition: color 0.25s, border-color 0.25s;
      display: flex;
      flex-flow: row;
      text-decoration: none;
      i {
        margin-right: 12px;
      }
    }
  }
  .new-staff-admin-container {
    a:hover {
      border-color: $color3;
      color: $color3;
    }
  }
}

#secondary {
  #mission-statement {
    background-color: transparent;
    border: 0;
    font-family: akzLight;
    color: $color1;
    margin: 50px 0;
    padding: 0 20px;
    font-size: 18px;
    text-align: center;
    box-shadow: none;
  }

  #quick-links {
    ul {
      max-width: 325px;
      list-style: none;
      margin: 20px auto 0;
      padding: 0;

      a {
        text-decoration: none;
        transition: color 0.2s;
        display: flex;
        align-items: center;
        width: 100%;
        .fa {
          margin: 0 5px 0 15px;
          font-size: 25px;
          flex: 1 1 50px;
        }
        span {
          flex: 1 1 250px;
        }
      }
      li {
        border-bottom: 0.5px solid #f4f4f4;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        font-family: akzLight;
        font-size: 16px;
        text-align: left;
        padding: 10px 0;
      }
      li:hover {
        // background-color: #f4f4f4;
        a {
          color: $color3;
        }
      }
    }
    ul > li:first-child {
      border-top: 0.5px solid #f4f4f4;
    }
  }

  #cases-website-stories {
    a {
      font-family: gillSemiBold;
      text-decoration: none;
    }

    .date {
      font-family: akzMed;
      font-size: 12px;
      color: $softgrey;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        border-top: 0.5px solid $softgrey;
        padding: 20px 0;
      }

      .first-bullet {
        a {
          font-size: 20px;
          font-family: gillBold;
        }
        p {
          margin: 15px 0 0 0;
          font-size: 17px;
        }
        border-top: 0;
        padding: 0 0 20px;
      }
    }
  }
}
