#primary {
  .entry-title {
    font-size: 35px;

    a {
      text-decoration: none;
    }
  }

  .entry-meta {
    margin-top: 10px;
    color: $softgrey;

    a {
      text-decoration: none;
    }
  }
}

#news {
  .old-entries {
    h3 {
      font-size: 18px;
      font-family: gillMed;
      margin-bottom: 0;
      color: $color1;

      a {
        text-decoration: none;
      }
    }

    p {
      margin-top: 0;
      font-size: 14px;
      color: $softgrey;
    }
  }
}

#new-hires {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  a {
    text-decoration: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  h1 {
    flex: 1 0 100%;
    margin-bottom: 20px;
  }
  .staff-container {
    margin: 20px 0;
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 300px;
    justify-content: center;
    align-content: flex-start;
    max-width: 300px;
    .portrait {
      background-size: cover;
      background-position: 50% 80%;
      border-radius: 100%;
      height: 200px;
      width: 200px;
      text-align: center;
    }
    h2 {
      margin-bottom: 0;
      text-align: center;
    }
    .meta-new-hires {
      font-family: akzLight;
      margin: 0 0 20px 0;
      font-size: 15px;
      text-align: center;
      width: 100%;
      color: $softgrey;
      height: auto;
    }
    .fun-facts {
      width: 100%;
      ul {
        margin: 0;
        padding: 0;
      }
    }
  }
  #new-staff-buttons {
    margin: 20px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    div {
      font-family: akzSemibold;
      color: $color1;
      border: 1.0px solid $color1;
      padding: 10px 20px;
      cursor: pointer;
      transition: 0.2s color, 0.2s border-color;
      &:hover {
        color: $color3;
        border-color: $color3;
      }
    }
    .fa-long-arrow-left {
      margin-right: 5px;
    }
    .fa-long-arrow-right {
      margin-left: 5px;
    }
  }
}

#secondary {
  #mission-statement {
    background-color: transparent;
    border: 0;
    font-family: akzLight;
    color: $color1;
    margin: 50px 0;
    padding: 0 20px;
    font-size: 18px;
    text-align: center;
    box-shadow: none;
  }

  #quick-links {
    ul {
      max-width: 325px;
      list-style: none;
      margin: 30px auto 0;
      padding: 0;

        a {
          text-decoration: none;
          transition: 0.2s;
          display: flex;
          align-items: center;
          width: 100%;
          .fa {
            margin: 0 10px 0 10px;
            font-size: 30px;
            flex: 1 1 50px;
          }
          span {
            flex: 1 1 250px;
          }
        }
          li {
            border-bottom: 0.5px solid #f4f4f4;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            font-family: akzLight;
            font-size: 18px;
            text-align: left;
            padding: 10px 0;
        }
      li:hover {
        background-color: #F4F4F4;
      }
    }
    ul > li:first-child {
      border-top: 0.5px solid #f4f4f4;
    }
  }

  #cases-website-stories {
    a {
      font-family: gillSemiBold;
      text-decoration: none;
    }

    .date {
      font-family: akzMed;
      font-size: 12px;
      color: $softgrey;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        border-top: 0.5px solid $softgrey;
        padding: 20px 0;
      }

      .first-bullet {
        a {
          font-size: 20px;
          font-family: gillBold;
        }
        p {
          margin: 15px 0 0 0;
          font-size: 17px;
        }
        border-top: 0;
        padding: 0 0 20px;
      }
    }
  }
}
