.soft-warning {
  background-color: #F1F9FF;
  display: flex;
  padding: 0 20px;
  justify-content: center;
  border-radius: 25px;
  align-items: center;
  margin-bottom: 35px;
  i {
    font-size: 45px;
    margin: 0 45px;
  }
  p {
    margin: 20px 0;
  }
}

#secondary {
  #admin-area {
    border: 1.0px solid $color1;
    border-radius: 0px;
    ul {
      a {
        padding-left: 15px;
      }
    }
    i {
      margin: 0 10px 0 0;
    }
  }
  .resources-links {
    .icon-secondary-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 5px 20px 0;
      i {
        color: $color1;
        font-size: 25px;
        margin: 0 15px;
      }
      h2 {
        margin-bottom: 0;
        width: 100%;
      }
    }
    .dates-list {
      li {
        padding: 10px 0 10px 25px;
        border-bottom: 0.5px solid #f4f4f4;
        transition: 0.2s;
        color: #999;
      }
      .date {
        color: $color1;
        font-size: 17px;
        font-family: akzSemiBold;
      }
    }
    .dates-list > li:last-child {
      border-bottom: 0;
    }
  }
}

.task-button-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 50px 0;
  .task-button {
    margin: 0 20px 25px 20px;
  }
}

.task-button {
  text-decoration: none;
  font-family: akzSemiBold;
  text-align: center;
  font-size: 25px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  width: 275px;
  align-items: center;
  .circle-icon {
    background-color: $color1;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 0 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
    img {
      width: 175px;
    }
  }
  .button {
    border: 1.0px solid $color1;
    padding: 20px 35px;
    transition: border-color 0.2s, color 0.2s;
    .fa-long-arrow-right {
      margin-left: 20px;
    }
  }
  .button-is {
    border: 1.0px solid $color1;
    padding: 10px 20px;
    font-size: 20px;
    width:100%;
    transition: border-color 0.2s, color 0.2s;
    .fa-long-arrow-right {
      margin-left: 20px;
    }
  }
}

.task-button:hover {
  .circle-icon {
    background-color: $color2;
  }
  .button {
    color: $color3;
    border-color: $color3;
  }
  .button-is {
    color: $color3;
    border-color: $color3;
  }
}

.resc-alert {
  border: 1.0px solid $color1;
  border-left: 10px solid $color3;
  padding: 15px 30px 15px 30px;
  margin: 40px 0;
  h2 {
    margin: 0 0 10px 0;
    font-size: 20px;
  }
  p {
    margin-bottom: 1em;
  }
  .alert {
    text-transform: uppercase;
    font-size: 15px;
    font-family: akzBold;
    color: $color3;
    margin: 0;
  }
}

.edit-button, .edit-sidenav {
    font-size: 13px;
  a {
    color: $color1;
    border: 1.0px solid $color1;
    padding: 10px 18px 8px 18px;
    text-decoration: none;
    background-color: $mywhite;
    transition: 0.2s;
    strong {
      font-weight: 400;
      font-family: akzSemiBold;
    }
    i {
      margin-left: 5px;
    }
  }
  a:hover {
    color: $color3;
    border-color: $color3;
  }
}

.edit-button {
  margin: 25px 0 10px 0;
}

.edit-sidenav {
  margin: -15px 30px 40px 30px;
  display: flex;
  justify-content: flex-end;
}

.past-updates {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    font-family: gillSemibold;
    a {
      text-decoration: none;
      padding: 10px 0 10px 25px;
      border-bottom: 0.5px solid #F4F4F4;
      font-size: 18px;
      background-color: $mywhite;
      transition: 0.2s;
      width: 100%;
      .date {
        color: #999;
        font-family: akzRoman;
        font-size: 14px;
        margin-top: 5px;
      }
    }
    a:hover {
      color: $color3;
      background-color: #F4F4F4;
    }
  }
  ul > a:first-child {
    border-top: 0.5px solid #f4f4f4;
  }
}
