.sbx-custom {
  display: inline-block;
  position: relative;
  width: 330px;
  height: 51px;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 18px;
}

.sbx-custom__wrapper {
  width: 100%;
  height: 100%;
}

.sbx-custom__input[type="search"] {
  font-family: akzSemibold;
  display: inline-block;
  transition: box-shadow 0.4s ease, background 0.4s ease;
  border: 0;
  border-radius: 26px;
  box-shadow: inset 0 0 0 2px #cccccc;
  background: #ffffff;
  padding: 0;
  padding-right: 41px;
  padding-left: 51px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  white-space: normal;
  font-size: inherit;
  appearance: none;
}

.sbx-custom__input::-webkit-search-decoration,
.sbx-custom__input::-webkit-search-cancel-button,
.sbx-custom__input::-webkit-search-results-button,
.sbx-custom__input::-webkit-search-results-decoration {
  display: none;
}

.sbx-custom__input:hover {
  box-shadow: inset 0 0 0 2px #b3b3b3;
}

.sbx-custom__input:focus,
.sbx-custom__input:active {
  outline: 0;
  box-shadow: inset 0 0 0 2px #002b55;
  background: #ffffff;
}

.sbx-custom__input::placeholder {
  font-family: akzLight;
  color: #bbbbbb;
}

.sbx-custom__submit {
  position: absolute;
  top: 0;
  right: inherit;
  left: 0;
  margin: 0;
  border: 0;
  border-radius: 25px 0 0 25px;
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  width: 51px;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: inherit;
  user-select: none;
}

.sbx-custom__submit::before {
  display: inline-block;
  margin-right: -4px;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.sbx-custom__submit:hover,
.sbx-custom__submit:active {
  cursor: pointer;
}

.sbx-custom__submit:focus {
  outline: 0;
}

.sbx-custom__submit svg {
  width: 21px;
  height: 21px;
  vertical-align: middle;
  fill: #cccccc;
}

.sbx-custom__reset {
  display: none;
  position: absolute;
  top: 12px;
  right: 12px;
  margin: 0;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  user-select: none;
  fill: #cccccc;
}

.sbx-custom__reset:focus {
  outline: 0;
}

.sbx-custom__reset svg {
  display: block;
  margin: 4px;
  width: 19px;
  height: 19px;
}

.sbx-custom__input:valid ~ .sbx-custom__reset {
  display: block;
  animation-name: sbx-reset-in;
  animation-duration: 0.15s;
}

@keyframes sbx-reset-in {
  0% {
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.contacts-list {
  z-index: 3;
  position: absolute;
  background-color: $mywhite;
  right: 0;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  width: 400px;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.2);
  & > a:first-child {
    border-top: 0.5px solid #eaeaea;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    font-family: akzLight;
    padding: 10px 0px;
    transition: 0.3s background-color, 0.25s color;
    border-bottom: 0.5px solid #eaeaea;
    border-left: 0.5px solid #eaeaea;
    width: 100%;
  }
  a:hover {
    background-color: #f3f3f3;
    color: #005db7;
  }
  .search-name {
    color: #333;
    font-family: akzMed;
    padding: 0 5px 0 25px;
    white-space: normal;
    .highlighted {
      color: $color3;
    }
  }
  .dept-prog {
    background: linear-gradient(
      to bottom,
      rgba(255, 244, 228, 1) 0%,
      rgba(255, 244, 228, 1) 100%
    );
    .search-position {
      color: $color1;
    }
  }
  .search-position {
    color: $softgrey;
    font-size: 12px;
    text-align: right;
    padding: 0 25px 0 5px;
    white-space: pre-line;
  }
}
