.single-staff-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#staff-breadcrumbs {
  display: flex;
  font-family: akzLight;
  width: 100%;
  max-width: 700px;
  font-size: 15px;
  margin: 10px 0;
  div {
    display: inline;
  }
  i {
    margin: 0 25px;
    color: $softgrey;
    padding-top: 5px;
    font-size: 10px;
  }
  a {
    text-decoration: none;
    color: $softgrey;
  }
  a:hover {
    text-decoration: underline;
  }
}

#single-contact {
  display: flex;
  justify-content: center;
  .staff-container {
    display: flex;
    flex-flow: row wrap;
    max-width: 700px;
    width: 100%;
    justify-content: center;
    .portrait {
      height: 250px;
      width: 100%;
      max-width: 250px;
      background-size: cover;
      background-position: 50% 80%;
      border-radius: 100%;
      margin: 25px;
      flex: 1 0 250px;
    }

    .meta {
      display: flex;
      font-family: akzLight;
      flex-flow: column nowrap;
      margin: 25px;
      width: 100%;
      flex: 1 1 250px;

      .name {
        text-align: left;
        font-size: 35px;
        display: flex;
        flex-flow: column nowrap;
        font-family: akzBold;
        margin: 0;
        color: $color1;
      }
      a {
        text-decoration: none;
      }

      h3 {
        text-align: left;
        font-size: 22px;
        margin: 0 0 25px 0;
      }

      i {
        margin-right: 12px;
      }

      .email {
        margin: 20px 0 5px 0;
      }

      .email, .phone, .mobile {
        font-size: 20px;
      }
      .mobile {
        i {
          font-size: 28px;
          margin-right: 22px;
        }
      }

      .supervisor {
        margin: 15px 0 0;
        font-size: 12px;

        a {
          text-decoration: none;
          font-family: akzMed;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
