.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	font-family: akzSemibold;
	background-color: $color1;

	a {
		color: $mywhite;
		transition: 0.2s;
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		transition: 0.25s;

		.sub-menu:before {
			content: "";
			position: absolute;
			top: -8px;
			width: 0px;
			height: 0px;
			margin: 0 auto;
			margin-left: 20px;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-bottom: 15px solid #fdfdfd; /* <-- change to bottom for up arrow */
			z-index: 600;
		}

		ul {
			background-color: #fdfdfd;
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -9999px;
			opacity: 0;
			z-index: 9;
			padding: 10px 0 0 0;
			transition: 0.2s;
			min-width: 200px;
			a {
				background-color: #fdfdfd;
				font-family: akzMed;
				font-size: 15px;
				color: $color1;
				text-transform: none;
				transition: 0.3s;
			}

			a:hover {
				background-color: #eaeaea;
				color: $color2;
			}


			ul {
				left: -999em;
				top: 0;
			}

			li {
					transition: 0.25s;
					width: 100%;
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
			opacity: 1;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
			background-color: $color2;
		}
	}

	a {
		display: block;
		padding: 10px 20px;
		text-transform: uppercase;
		background-color: $color1;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
